@font-face {
    font-family: BB;
    src: local(BB-Regular), url(BB-Regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: BBCond;
    src: local(BB-Cond), url(BB-Cond.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: BBCond;
    src: local(BB-CondBold), url(BB-CondBold.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: HKGrotesk;
    src: local(HKGrotesk-Regular), url(HKGrotesk-Regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}